<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sheldon Cooper | Bio</title>

    <link rel="stylesheet" href="/css/maic.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">Biography</a>
        <a href="/work">Achievements</a>
        <a href="/gallery">Gallery</a>
    </nav>

    <h1 id="biography">Sheldon Cooper | Biography</h1>
    <div id = "text">
        <p>Dr. Sheldon Lee Cooper was born at 26th of February, 1980 at Lawrence Memorial Hospital in Galveston, Texas. Sheldon was raised in Medford in East Texas.
        With a genius-level IQ of 187, Dr. Sheldon Lee Cooper was a child prodigy. He entered college at the age of eleven, and at age fourteen he graduated from college. 
        From then, he worked on his doctorate, while visiting professor at the University of Heidelberg in Germany.
        >He was the youngest person at the time to receive the Stevenson Award, and has appeared on the cover of Journal of Physical Chemistry A.
        Sheldon is now a Senior Theoretical Physicist at The California Institute of Technology (Caltech).</p>
        <br>
        <p> Dr. Sheldon Cooper got married in May 12th to Dr. Amy Farrah Fowler.
        His deceased father was George Cooper and his mother is Mary Cooper. Dr. Sheldon Cooper have an older brother named George "Georgie" Cooper Jr. and a twin sister named Missy Cooper.
        His best-friend is Dr. Leonard Hofstadter. He also shares friendship with his collegues Dr. Rajesh Koothrappali and Mr. Howard Wolowitz.</p>
    </div>

    <div>
        <img id="bio-image" src="/images/young-sheldon-bio.webp" alt="Young Dr. Sheldon Cooper">
    </div>

    
</body>
</html>