<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sheldon Cooper | Bio</title>

    <link rel="stylesheet" href="/css/maic.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">Biography</a>
        <a href="/work">Achievements</a>
        <a href="/gallery">Gallery</a>
    </nav>

    <h1>Sheldon Cooper | Gallery</h1>

    <div id="img-container">
        
            <img id="gallery-image" src="/images/gallery-2.webp" alt="Dr. Sheldon Cooper">
        
            <img id="gallery-image" src="/images/gallery-3.jpg" alt="Dr. Sheldon Cooper">
        
            <img id="gallery-image" src="/images/gallery-4.jpg" alt="Dr. Sheldon Cooper">
     </div>
    
</body>
</html>