<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sheldon Cooper | Bio</title>

    <link rel="stylesheet" href="/css/maic.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">Biography</a>
        <a href="/work">Achievements</a>
        <a href="/gallery">Gallery</a>
    </nav>

    <h1>Sheldon Cooper</h1>
    <h2>Nobel Prize in Physics</h2>
    <q>"I'm Sorry, Coffee's Out Of The Question. When I Moved To California I Promised My Mother That I Wouldn't Start Doing Drugs."</q>
    <br>
    <div>
        <img id="home-image" src="/images/home-img.png" alt="Dr. Sheldon Cooper">
    </div>

</body>
</html>