<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sheldon Cooper | Bio</title>

    <link rel="stylesheet" href="/css/maic.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">Biography</a>
        <a href="/work">Achievements</a>
        <a href="/gallery">Gallery</a>
    </nav>

    <h1>Sheldon Cooper | Achievements</h1>
    
    <div id="container">
        <ol class="list">
            <li>Child prodigy with an eidetic memory.</li>
            <li>Youngest person at the time to receive the Stevenson Award.</li>
             <li>Graduated High Scholl at age 11.</li>
            <li>Graduated college at age 14.</li>
            <li>B.S., M.S., M.A.,Ph.D., Sc.D., is a Caltech theoretical physicist.</li>
            <li>His doodle of a hyperelliptic Riemann surface was the basis of his postdoctoral fellowship.</li>
            <li>For his contributions to theoretical physics, he won a Caltech Chancellor's Award for Science.</li>
            <li>Nobel Prize in physics for their discovery of super asymmetry.</li>
        </ol>

        <div>
            <img id="work-image" src="/images/achievments-img.webp" alt="Dr. Sheldon Cooper">
        </div>
    </div>
</body>
</html>